ktor {
    application {
        modules = [ "no.bekk.ApplicationKt.module" ]
    }
    deployment {
        port = 8080
    }
    database {
        host = "localhost"
        port = 5432
        name = "kontrollere"
        user = "insert_username_here"
        password = "pwd"
    }
}