.circle {
    display: flex;
    width: 80%;
    height: 36px;
    justify-content: center;
    align-items: center;
    border-radius: 1%;
    text-align: center;
}

.BØR
{
    background-color: yellow;
    color: black;
}

.MÅ
{
    background-color: red;
    color: white;
}

.-MÅ-
{
    background-color: orange;
    color: white;
}

.KAN
{
    background-color: green;
    color: white;
}